@model MVCDemo.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* form tag helper automatically includes token to prevent CSRF *@
        @* cross-site request forgery. *@
        @* every time we render the form, we generate a new token attached to it *@
        @* then we expect to receive that same token back from the client *@
        @* in his next request *@
        <form asp-action="Edit">

            @* the corresponding HTML helper is @Html.BeginForm *@
            @* and if you use that, you need to manually put the verification token HTML helper in there *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                @* these fields will start out having the values *@
                @* that the passed-in model object does, if any. *@
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
